# API Configuration
# REACT_APP_API_BASE_URL=https://compose-backend-ayrt.onrender.com/api/
REACT_APP_API_BASE_URL= https://172.16.249.41:8081/api/
# Image Upload Configurations
REACT_APP_MAX_IMAGE_SIZE=5242880
REACT_APP_MAX_GALLERY_IMAGES=10
REACT_APP_MAX_REVIEW_IMAGES=5

REACT_APP_API_URL_WS=https://172.16.249.41:8081/ws
REACT_APP_MOMO_RETURN_URL=https://172.16.249.41:8081/payment-result
REACT_APP_MOMO_NOTIFY_URL=https://172.16.249.41:8081/api/payment/momo/callback
# Image Dimension Constraints
REACT_APP_AVATAR_SIZE=400
REACT_APP_SHOP_LOGO_SIZE=400
REACT_APP_SHOP_BANNER_WIDTH=1200
REACT_APP_SHOP_BANNER_HEIGHT=400
REACT_APP_PRODUCT_IMAGE_MIN_WIDTH=500
REACT_APP_PRODUCT_IMAGE_MIN_HEIGHT=500

# Default Images (Cloudinary)
REACT_APP_DEFAULT_AVATAR=https://res.cloudinary.com/dejjhkhl1/image/upload/v1764912002/default-avatar-icon-of-social-media-user-vector_moeijq.jpg
REACT_APP_DEFAULT_BANNER=https://res.cloudinary.com/dejjhkhl1/image/upload/v1764912579/images_qs3s47.jpg
REACT_APP_DEFAULT_LOGO=https://res.cloudinary.com/dejjhkhl1/image/upload/v1764911991/xwz5cpybxo1g1_sppbqi.png

